<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <version/>
                <timestamp/>
                <logLevel/>
                <message/>
                <mdc/>
                <logstashMarkers/>
                <arguments/>
            </providers>
        </encoder>
    </appender>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="prd">
        <root level="DEBUG">
            <appender-ref ref="JsonConsoleAppender"/>
        </root>
    </springProfile>
    <springProfile name="default,dev,test">
        <root level="DEBUG">
            <appender-ref ref="ConsoleAppender"/>
        </root>
    </springProfile>
</configuration>